body {
    h1 {
        text-align: center;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-thumbnail {
        margin-right: 20px;
    }

    .text {
        max-width: 600px;
    }
}

